/*header*/

.text-intro{
    padding-top: 550px;     
}

/* carte visite*/

.cRecto{
    height: 200px;
    width: 350px;
    margin-left: 15%;
      
}


.cVecto{
    height: 200px;
    width: 350px; 
    margin-left: 15%;
                     
}
