/*header*/

header{
    background: url('img/imagebackground.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh;

}

.text-intro{
    padding-top: 300px;
    padding-bottom: 200px;
}

.preTxt{
    font-size: 2.5rem;
    margin: 0;
    color: #2f2d2d;
    line-height: 0.5;
    margin-bottom: 1.5rem;
}

h1{
    font-size: 150px;
    color: #2f2d2d;
    font-family: 'Kaushan script';
    font-weight: 700;
}

/*Nav*/

.navbar-brand{
    font-size: 45px!important;
    font-family: 'Kaushan script'!important;
}

.navbar a{
    color: #fff!important;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 700;
    
}

/*A propos*/

#aPropos{
    margin-top: 75px;
    padding-bottom: 75px;
    border-bottom: 1px dashed #2f2d2d;
}

/*Trois Icones*/

#icones{
    padding-top: 100px;
    padding-bottom: 100px;
}

/*Premier banniere*/

#ban1{
    position: relative;
    background: url('img/banniere1.png');
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}