/*header*/

header{
    background: url('img/imagebackground.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh;

}

.logo{
    height: 3.8rem;
}

.text-intro{
    padding-top: 400px;
    padding-bottom: 200px;
    text-align: center;
}

.preTxt{
    font-size: 2.5rem;
    margin: 0;
    color: #2f2d2d;
    line-height: 0.5;
    margin-bottom: 1.5rem;
}

h1{
    font-size: 4rem;
    color: #2f2d2d;
    font-family: 'Kaushan script';
    font-weight: 700;
}

/*Nav*/

.navbar-brand{
    font-size: 45px!important;
    font-family: 'Kaushan script'!important;
}

.navbar a{
    color: #fff!important;
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 700;
    
}

.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border: solid;
    border-width: 0.5px ;
}

/*A propos*/

#aPropos{
    margin-top: 75px;
    padding-bottom: 75px;
    
}

/*Trois Icones*/

#icones{
    padding-top: 100px;
    padding-bottom: 100px;
}

/*Premier banniere*/

#ban1{
    position: relative;
    background: url('img/banniere1.png');
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}

/*Gallerie*/

#galerie {
    padding-bottom: 100px;
  }
  .h2Photos {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Kaushan Script';
    font-size: 70px;
  }
  #galerie .container p {
    padding-bottom: 40px;
  }

  /* Seconde banniere*/

  #ban2{
      position: relative;
      min-height: 300px;
      background-attachment: fixed;
      background: url('img/Banniere2.png');
      background-repeat: no-repeat;
      text-align: center;
  }

  #carouselContent{
      margin-top: 70px;
      font-size: 35px;
      color: #000;
      font-weight: 400;
  }

  /* Cartes */

#prix{
    padding-bottom: 100px;
}


  .offreH{
      font-size: 70px;
      padding-top: 80px;
      padding-bottom: 50px;
      font-family: 'kaushan script';
  }

/* basculer le volet lorsque vous le survoler*/
.container2:hover .main{
    transform: rotateY(180deg);
}

.container2, .devant, .arriere {
    width: 500px;
    height: 300px;
    margin: auto;    
   
}

/*vitesse de rotation*/
.main{
    transition: .6s;
    transform-style: preserve-3d;
    
}

.devant, .arriere{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.devant{
    z-index: 2;
    transform: rotateY(0deg);
}

.arriere{
    transform: rotateY(180deg);
    
}

.cRecto{
    height: 300px;
    width: 500px;
    border: solid 1px;
    
}

.cVecto{
    height: 300px;
    width: 500px;
    border: solid 1px;
}

/* progresse section */

#progress{
    border-top: 1px dashed #000;
    border-bottom: 1px solid #000;
    padding-top: 50px;
    padding-bottom: 50px;
}


@media(max-width: 720px){


    /*header*/
    .logo{
        height: 2.5rem;
    }

    .text-intro{
        padding-top: 420px;     
    }
    
    .preTxt{
        font-size: 1.5rem;     
    }
    
    h1{
        font-size: 3rem;        
        font-weight: 700;
    }

    #prix{
        padding-bottom: 0;
    }

    .container2, .devant, .arriere {
       margin-left: 7px;
       width: 100%;   
    }

    .cRecto{
        height: 200px;
        width: 350px;      
    }
    
    .cVecto{
        height: 200px;
        width: 350px;               
    }

}
